body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif!important
}

.top-header-area a,
alt-font {
	font-family: 'Open Sans', sans-serif!important
}

.top-header-area a {
	font-size: 15px
}

.header nav .navbar-nav>li>a {
	letter-spacing: 0
}

.menu-drop-icon {
	padding-left: 4px;
}

.top-header-area {
	background: #000;
	padding: 10px
}

.social i {
	color: #fff;
	margin-right: 15px;
	font-size: 18px
}

#slider {
	width: 500px;
	top: 180px;
	position: fixed
}

#header {
	width: 340px;
	height: 440px;
	background: #fff;
	position: absolute;
	right: 0;
	margin-left: 40px;
	padding: 20px 20px;
	border-radius: 3px
}

#header {
	height: 400px!important
}

.request-a-call {
	font-size: 26px;
	color: #e2154e;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif!important
}



header nav .navbar-nav.text-normal>li>a {
	font-size: 13.5px
}

.navbar-me {
	transition: all .4s
}

.navbar-me {
	padding: 10px 0;
	background-color: transparent;
	top: 0;
	margin-top: 40px;
	border: 0;
	border-radius: 0;
	position: fixed;
	width: 100%;
	z-index: 75!important
}

#sidebar {
	position: absolute;
	top: 120px;
	left: 120px;
	background: #000!important;
	border: none!important;
	border-radius: 2px 0 2px 0!important;
	cursor: pointer;
	border-top-left-radius: 0!important;
	font-size: 20px;
	padding: 73px 0 63px!important;
	border-radius: 0!important;
	width: 40px;
	z-index: 999999;
	border-radius: 5px 0 0 5px!important
}

#sidebar1 {
	position: absolute;
	top: 120px;
	left: 120px;
	padding: 74px 0!important;
	width: 40px;
	background: #000!important;
	color: #000;
	border: none!important;
	cursor: pointer;
	font-size: 20px;
	border-radius: 5px 0 0 5px!important
}

p {
	font-size: 15px!important;
	line-height: 1.5
}

.call-back-style {
	transform: rotate(90deg);
	padding-bottom: 0;
	color: #fff;
	margin: 0 -30px;
	text-transform: uppercase!important
}

.slide-form {
	box-shadow: 0 0 8px #ddd;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 3px 8px 20px rgb(5 27 46 / 20%);
	border-radius: 8px
}

input[type=text].former {
	border: 1px solid #e1e1e1
}

input[type=email].former,
input[type=number].former,
input[type=text].former {
	margin-top: 10px;
	margin-bottom: 0!important;
	padding: 6px;
	width: 100%;
	font-size: 14px;
	border-radius: 4px
}

.call-btn.btn {
	text-transform: none;
	font-size: 19px;
	font-weight: 500;
	width: 100%;
	height: 50px;
	background-color: #232323!important;
	font-family: 'Open Sans', sans-serif!important
}

input[type=text].former::placeholder {
	color: #000!important
}

input[type=email].former::placeholder {
	color: #000!important
}

input[type=number].former::placeholder {
	color: #000!important
}

input[type=text].former::-webkit-input-placeholder {
	color: #ccc
}

input[type=email].former::-webkit-input-placeholder {
	color: #ccc
}

input[type=number].former::-webkit-input-placeholder {
	color: #ccc
}

div#title {
	position: absolute;
	top: 300px;
	left: 650px
}

select {
	padding: 6px;
	width: 100%;
	font-size: 15px;
	border-radius: 2px;
	border: 3px solid #98d0f1
}

.former textarea {
	padding: 6px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #267cd5;
	margin-top: 10px;
	height: 80px;
	width: 100%
}

button {
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 0;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 18px

}


.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border: 1px solid;
	border-bottom: 1px solid
}


header.header-appear nav.header-light {
	box-shadow: 0 0 6px rgb(217 217 217 / 0%)
}

a.text-link-white:focus,
a.text-link-white:focus i,
a.text-link-white:hover,
a.text-link-white:hover i {
	color: #f70d39
}



.position-relative {
	position: relative!important
}

.display-block {
	display: block!important
}


.font-weight-600 {
	font-weight: 600
}

.text-extra-dark-gray {
	color: #333
}



.cat_icon {
	position: absolute;
	left: 0
}

.cat_icon .cls-1 {
	fill: #fff
}

.dropdown-menu.dropdown-menu-work li .cat-box:hover .cls-1 {
	fill: #ff214f
}

.navbar-nav>li:hover>.dropdown-menu.dropdown-menu-work {
	display: block;
	background: #333;
	left: 0;
	right: 0;
	width: 100%!important;
	top: 82%
}

.fixed-me .navbar-nav>li:hover>.dropdown-menu.dropdown-menu-work {
	top: 80%
}
.dropdown-menu {
	background: #333;
	left: 0 !important;
}

.dropdown.megamenu {
	position: inherit
}

.dropdown-menu.dropdown-menu-work li {
	display: inline-flex;
	text-align: center;
}

.dropdown-menu.dropdown-menu-work li .cat-box {
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 17px 23px rgb(0 0 0 / 20%);
	margin: 6px 6px 6px 6px;
	max-width: 225px;
    height: 92px;
    width: 234px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	display: table
}

.dropdown-menu.dropdown-menu-work li .cat-box a {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-left: 30px;
	text-decoration: none;
	text-align: left;
}

.dropdown-menu.dropdown-menu-work li .cat-box:hover {
	background-color: #fff
}

.dropdown-menu.dropdown-menu-work li .cat-box:hover a {
	color: #333
}
.logo img {
    margin-top: 10px;
    width: 100%;
}

ul.portfolio-grid.work-4col {
	text-align: center;
	padding: 0;
	margin-bottom: 50px;
}
@media (max-width: 1024px){
.bottom-fixed-contact {
    display: block!important;
}
.top-nav-sec {
    display: none;
}
a.logo img {
    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-me {
    margin-top: 0!important;
}
.nav>li>a {
    padding: 15px 8px;
}
}




.footer-mail i.fa.fa-envelope {
	line-height: 2
}

.dropdown-web {
  position: relative;
  display: inline-block;
}

.dropdown-web-content {
  display: none;
position: absolute;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    width: 270px;
    background: #333;
    color: #fff;
    text-align: left;
}
.navbar-nav>li:hover>.dropdown-web-content{
	display: block;
}

.dropdown-web-content a {
  color: #fff;
     padding: 3px 20px;
    text-decoration: none;
    display: block;
    line-height: 26px;
}
li{
	list-style: none;
}

.dropdown-web a:hover {background-color: #ddd;}
.dropdown-web-content a:hover{
	background-color: #fff;
	color: #333;
}
.show {display: block;}
.footer-logo img {
    width: 80%;
    margin-top: 0px !important;
}
.inner-footer.logo {
    margin-top: 0px;
}
.widget-title {
    margin-bottom: 20px;
}
#footer .item--icon i{
    font-size: 16px;
}
.add-info a {
    color: #fff;
    font-size: 16px;
    opacity: 1;
    margin-top: 15px;
    display: inline-block;
}
.p-0{
    padding: 0px;
}
.navbar-default .navbar-nav>li>a#reach-menu {
    padding-right: 0;
}
#footer .item--icon {
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    margin-right: 38px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,.25);
    background-color: rgba(112,114,116,.25);
    padding-top: 0px!important;
}
@media (max-width: 767px){
.dropdown-web-content {
	width: 100%;	
    z-index: 1001;
}
.navbar-nav>li:hover>.dropdown-web-content {
    display: none;
}
.navbar-default .navbar-nav>li>a{
	text-align: left;
}
.nav>li>a{
	    padding: 10px 15px;
}
.navbar-collapse {
    background-color: #000!important;
}
}
.portfolio-grid.gutter-medium, .blog-grid.gutter-medium {
    margin: 0 7px;
}

.portfolio-grid {
    list-style: none;
    padding: 0;
    margin: 0;
}
.overflow-hidden {
    overflow: hidden !important;
}
/* .dropdown-web:hover .dropdown-web-content{
	display: block ;
} */
.col-sm-4.contact-infos:first-child {
    padding: 0;
}
.top-nav-sec i {
    color: #fff;
    margin-right: 2px;
    padding-right: 5px;
}

.mob-icon i {
    font-size: 17px;
}
footer-logo img {
    width: 80%;
    margin-left: -10px;
}
.inner-footer p.p-3 {
    padding-right: 18px;
    padding-top: 10px;
}
.inner-footer .widget-title {
    margin-bottom: 15px;
}	
.inner-footer li a {
    color: #fff;
    line-height: 30px;
}

.social.text-left {
    text-align: left;
    padding: 0 0px 16px 0;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 14.5px !important;
    letter-spacing: 0.5px;
	cursor: pointer;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
#footer .widget-title{
    color: #fff;
}
@media (max-width: 767px){

.footer-contact-portfolio {
    padding: 50px 10px;
}
input[type=email].footer-form, input[type=number].footer-form, input[type=text].footer-form{
	width: 100%;
	    padding: 8px 8px;
}
.footer-contact-portfolio .btn{
	    width: 100%;
    margin-bottom: 20px;
}
#footer-submit.submit-div{
	width: 100%;
}
    }
    .contact-info a{
        font-size: 15px !important;

    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
    .bottom-fixed-contact {
    padding: 15px 0px !important;
}
.bottom-fixed-contact .mob-icon i{
	font-size: 20px;
    color: #de171a;
}
.contact-info i {
    position: relative;
    padding-right: 5px;
    top: 2px;
}
.bottom-fixed-contact .contact-info:last-child{
	text-align: end;


}
#footer {
    background-color: #000;
    color: #fff!important;
    height: auto;
    padding: 40px 0;
}
.fixed-me {
    background-color: #000!important;
    padding: 0!important;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    margin-top: 0!important;
    z-index: 99!important;
    width: 100%;
    border-bottom: 0 solid #ccc!important;
    padding-bottom: 10px!important;
}

.pr-5 {
    padding-right: 15px;
}

.fs-14 {
    font-size: 14px !important;
}
.line-height-para {
    line-height: 25px !important;
}

.submit-div {
    background-color: #e6a337 !important;
    padding: 7px 30px;
    width: 85% !important;
    border: none;
    border-radius: 2px;
    font-weight: 700;
}
.bottom-fixed-contact {
    background-color: #000;
    padding: 7px 0 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
.bottom-fixed-contact {
    display: none;
}

@media (max-width:767px) {
	.blog-grid.blog-4col li,
	.portfolio-grid.work-4col li {
		width: 100%;
		display: block
	}
	.dropdown.megamenu {
		position: relative;
	}
	
	.whatsapp-section{
		bottom: 70px;
		right: unset;
		left: 12px;
		width: 46px;
	}
	.whatsapp-section img {
		height: auto;
		width: 100%;
	}
	.fixed-me .navbar-nav>li:hover>.dropdown-menu.dropdown-menu-work{
		top: inherit;
		display: none;
	}
	.navbar-nav {
		margin: 7.5px 1px 7.5px -15px;
	}
	.dropdown-menu.dropdown-menu-work li {
		display: block
	}
	.menu-collapsed-button {
		width: inherit
	}
	.dropdown-menu.dropdown-menu-work li a {
		box-shadow: inherit;
		width: inherit
	}
	.dropdown-menu.dropdown-menu-work li .cat-box {
		width: 100%;
		display: block;
		margin: 0 0;
		height: inherit;
		box-shadow: inherit;
		max-width: 100%;
	}
	.navbar-nav>li:hover>.dropdown-menu.dropdown-menu-work {
		top: inherit;
		display: none;
	}
	.dropdown-menu.dropdown-menu-work ul {
		padding: 0
	}
	.cat_icon {
		top: 0x;
		width: 18px;
		height: 18px
	}
	.dropdown-menu.dropdown-menu-work li a {
		padding-left: 35!important;
		padding: 0x
	}
    #footer .item--icon{
        margin: 0;
    }
}

@media screen and (max-width: 767px){
	.bottom-fixed-contact {
    	display: block;
	}	
	.bottom-fixed-contact .mob-icon i {
		font-size: 16px;
		color: #de171a;
	}
	.contact-info a {
		font-size: 13px !important;
	}
	.bottom-fixed-contact .contact-info:last-child {
		text-align: end;
		padding-right: 0;
	}
	.list-unstyled li.pull-left {
		float: none!important;
		clear: both;
	}
}
.menu-back-div>ul{
	/*max-width: 1170px !important;*/
	margin: 0 auto;
} 
ul{
	padding: 0px;
}

